<?= $this->doctype() ?>
<html lang="de">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <?= $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0, shrink-to-fit=no')
            ->appendName('author', 'Henrik Thesing')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>
        <?= $this->headLink()
            ->prependStylesheet($this->basePath('css/all.css'))
            ->prependStylesheet($this->basePath('css/bootstrap.css'))
            ->prependStylesheet($this->basePath('css/jquery.timepicker.min.css'))
            ->prependStylesheet($this->basePath('css/ese.css'));

        ?>
        <?= $this->headTitle('Einrichtungssuche Essen - Administration')->setSeparator(' - ')->setAutoEscape(false) ?>
    </head>
<body>
    <?= $this->headScript()
        ->appendFile($this->basePath('js/jquery.js'))
        ->appendFile($this->basePath('js/bootstrap.js'))
        ->appendFile($this->basePath('js/jquery.timepicker.min.js'))
        ->appendFile($this->basePath('js/tinymce/tinymce.min.js'))
        ->appendFile($this->basePath('js/tinymce/jquery.tinymce.min.js'));
    ?>
    <?= $this->headScript(); ?>

    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
        <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bahnhofsmission Essen"><img height="50" src="<?= $this->basePath('img/logo.png'); ?>" /></a>
        <div class="navbar-nav ml-md-auto">
            <a class="btn btn-info" href="<?= $this->url('administration/logout'); ?>">Logout</a>&nbsp;
            <a class="btn btn-primary" href="<?= $this->url('search'); ?>">Webseite</a>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky" style="padding-top: 50px;">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="<?= $this->url('administration'); ?>"><i class="fa fa-home" style="font-size: 1.4em;"></i> Einrichtungen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="<?= $this->url('administration/taggroups'); ?>"><i class="fa fa-filter" style="font-size: 1.4em;"></i> Filtergruppen</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <?= $this->content; ?>

        </div>
    </div>
</body>
</html>