<?php
    /** @var TagGroup[] $tagGroups */
    use Storage\Entity\TagGroup;
?>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
        <h1 class="h2">Filtergruppen</h1>
        <div class="float-right">
            <a class="btn btn-primary" href="<?= $this->url('administration/taggroups/add'); ?>"><i class="fa fa-plus-circle"></i> Filtergruppe anlegen</a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-lg">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Filteroptionen</th>
                <th class="text-right">Optionen</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($tagGroups as $tagGroup) { ?>
                <tr>
                    <td><?= $tagGroup->getId(); ?></td>
                    <td><?= $tagGroup->getName(); ?></td>
                    <td>
                        <?php
                            $showTags = 4;
                            $counter = 0;
                            $tagCount = $tagGroup->getTags()->count();
                            $showMoreCount = ($tagCount - $showTags);
                            foreach ($tagGroup->getTags() as $tag) {
                                $counter++;
                                if ($counter <= $showTags) {
                                    ?>
                                    <span class="badge badge-secondary"><?= $tag->getName(); ?></span>
                                    <?php
                                }
                            }
                        ?>
                        <?php if ($showMoreCount > 0) { ?>
                            <span class="badge badge-secondary badge-light">+ <?= $showMoreCount; ?> weitere</span>
                        <?php } ?>
                    </td>
                    <td class="text-right">
                        <a href="<?= $this->url('administration/taggroups/tags', ['tagGroupId' => $tagGroup->getId()]); ?>" class="btn btn-info"><i class="fa fa-tags"></i></a>
                        <a href="<?= $this->url('administration/taggroups/edit', ['tagGroupId' => $tagGroup->getId()]); ?>" class="btn btn-info"><i class="fa fa-edit"></i></a>
                        <a onclick="return confirm('Filgerurppe wirklich löschen? Alle Filteroptionen und Verknüpfungen zu Einrichtungen werden entfernt!');" href="<?= $this->url('administration/taggroups/delete', ['tagGroupId' => $tagGroup->getId()]); ?>" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            <?php } ?>
            </tbody>
        </table>
    </div>
</main>