div.card-body p.card-icons i {
    font-size: 2em;
    padding-right: 0.5em;
}
.search-results {
    margin-top: 20px;
}
.navbar {
    background-color: #0061A5;
}
div.card-subtitle {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
}
div.card div.card-body.map {
    margin: 0;
    padding: 0;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.tab-pane.active {
    padding: 20px;
}