<script type="text/javascript">
    $.when( $.ready ).then(function() {
       $('.togglefilter').click(function() {
           var tagGroupId = $(this).data('taggroup-id');
           $('.filteritem-' + tagGroupId).toggle();
           if ($('.filteritem-' + tagGroupId).is(':visible')) {
               $(this).removeClass('fa-chevron-down');
               $(this).addClass('fa-chevron-up');
           } else {
               $(this).removeClass('fa-chevron-up');
               $(this).addClass('fa-chevron-down');
           }
       });
    });
</script>

<form enctype="multipart/form-data" action="" method="get">
    <div class="card">
        <div class="card-header">
            Kartenansicht
            <div class="float-right">
                <i class="fas fa-expand-alt" alt="Große Karte anzeigen"></i>
            </div>
        </div>
        <div class="card-body map">
            <iframe src="https://maps.google.com/maps?q=Bahnhofsmission%20Essen&t=&z=15&ie=UTF8&iwloc=&output=embed" style="border:0; width:100%; height: 220px;" allowfullscreen></iframe>
        </div>
        <div class="card-header">
            Suchen & Filtern
        </div>
        <div class="card-body">
            <div class="form-group">
                <input type="text" name="filter[name]" value="<?= $filter['name'] ?? ''; ?>" placeholder="Einrichtungsname" class="form-control" id="search" />
            </div>
        </div>
        <?php
            foreach ($this->tagGroups as $tagGroupId => $tagGroup) {
                if ($tagGroup->getTags()->count() > 0) {
        ?>
        <div class="card-subtitle mb-2 text-muted">
            <?= $tagGroup->getName(); ?>
            <div class="float-right">
                <i class="fas fa-chevron-up togglefilter" data-taggroup-id="<?= $tagGroupId; ?>" title="ein-/ausblenden" style="cursor: pointer;"></i>
            </div>
        </div>
        <div class="card-body filter filteritem-<?= $tagGroupId; ?>">
            <p class="card-text">
                <?php foreach ($tagGroup->getTags() as $tag) { ?>
                    <input type="hidden" value="0" name="filter[tagGroups][<?= $tagGroup->getId(); ?>][<?= $tag->getId(); ?>]">
                    <input id="tag<?= $tag->getId(); ?>" type="checkbox" <?= (isset($filter['tagGroups'][$tagGroup->getId()][$tag->getId()]) && $filter['tagGroups'][$tagGroup->getId()][$tag->getId()] === '1') ? 'checked="checked"' : ''; ?> value="1" name="filter[tagGroups][<?= $tagGroup->getId(); ?>][<?= $tag->getId(); ?>]">&nbsp;<label for="tag<?= $tag->getId(); ?>"><?= $tag->getName(); ?></label><br />
                <?php } ?>
            </p>
        </div>
        <?php } } ?>
        <div class="card-body">
            <input type="submit" value="Filter setzen" class="btn btn-primary btn-block">
            <a href="<?= $this->url('search'); ?>" class="btn btn-outline-danger btn-block">Alle Filter entfernen</a>
        </div>
    </div>
</form>
