<?= $this->doctype() ?>
<html lang="de">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <?= $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0, shrink-to-fit=no')
        ->appendName('author', 'Henrik Thesing')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>
    <?= $this->headLink()
        ->prependStylesheet($this->basePath('css/all.css'))
        ->prependStylesheet($this->basePath('css/bootstrap.css'))
        ->prependStylesheet($this->basePath('css/ese.css'));
    ?>

    <?= $this->headScript()->appendFile($this->basePath('js/jquery.js')); ?>

    <?= $this->headTitle('Einrichtungssuche Essen')->setSeparator(' - ')->setAutoEscape(false) ?>
</head>
    <body>
        <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
            <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bahnhofsmission Essen"><img height="50" src="<?= $this->basePath('img/logo.png'); ?>" /></a>
            <div class="navbar-nav ml-md-auto">
                <a class="btn btn-info" href="<?= $this->url('administration'); ?>">Administration</a>
            </div>
        </header>
        <?= $this->content; ?>
    </body>
</html>