<?php
    /** @var Facility[] $facilities */
    use Storage\Entity\Facility;
?>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
        <h1 class="h2">Einrichtungen</h1>
        <div class="float-right">
            <a class="btn btn-primary" href="<?= $this->url('administration/facilities/add'); ?>"><i class="fa fa-plus-circle"></i> Einrichtung anlegen</a>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-lg">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Adresse</th>
                <th>Tags</th>
                <th class="text-right">Optionen</th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($facilities as $facility) { ?>
                <tr>
                    <td><?= $facility->getId(); ?></td>
                    <td><?= $facility->getName(); ?></td>
                    <td><?= $facility->getAddress()->getAddressAsString(); ?></td>
                    <td>
                        <?php
                            $showTags = 4;
                            $counter = 0;
                            $tagCount = $facility->getTags()->count();
                            $showMoreCount = ($tagCount - $showTags);
                            foreach ($facility->getTags() as $tag) {
                                $counter++;
                                if ($counter <= $showTags) {
                                    ?>
                                    <span class="badge badge-secondary"><?= $tag->getName(); ?></span>
                                    <?php
                                }
                            }
                        ?>
                        <?php if ($showMoreCount > 0) { ?>
                            <span class="badge badge-secondary badge-light">+ <?= $showMoreCount; ?> weitere</span>
                        <?php } ?>
                    </td>
                    <td class="text-right">
                        <a href="<?= $this->url('administration/facilities/edit', ['facilityId' => $facility->getId()]); ?>" class="btn btn-info" title="Bearbeiten"><i class="fa fa-edit"></i></a>
                        <a href="<?= $this->url('administration/facilities/contacts', ['facilityId' => $facility->getId()]); ?>" class="btn btn-info" title="Kontakte"><i class="fa fa-user"></i></a>
                        <a onclick="return confirm('Einrichtung wirklich löschen? Alle Daten gehen verloren!');" title="Löschen" href="<?= $this->url('administration/facilities/delete', ['facilityId' => $facility->getId()]); ?>" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            <?php } ?>
            </tbody>
        </table>
    </div>
</main>